---
import TagBadge from "./TagBadge.astro";
import ReactIcon from '../components/icons/React.astro'
import ExpressIcon from '../components/icons/Express.astro'
import NodeIcon from '../components/icons/Node.astro'
import JavaIcon from '../components/icons/Java.astro'
import SpringBootIcon from '../components/icons/SpringBoot.astro'
import AngularIcon from '../components/icons/Angular.astro'
import TypescriptIcon from '../components/icons/Typescript.astro'
import StrapiIcon from '../components/icons/Strapi.astro'
import ReduxIcon from '../components/icons/Redux.astro'
import PhpIcon from '../components/icons/Php.astro'
import MySQLIcon from '../components/icons/MySQL.astro'
import GraphQLIcon from '../components/icons/GraphQL.astro'
import NextIcon from '../components/icons/Next.astro'
import TailwindIcon from '../components/icons/Tailwind.astro'
import HtmlIcon from '../components/icons/Html.astro'
import CssIcon from '../components/icons/Css.astro'
import JavascriptIcon from '../components/icons/Javascript.astro'
import ReactRouterIcon from '../components/icons/ReactRouter.astro'
import MaterialUIIcon from '../components/icons/MaterialUI.astro'
import CypressIcon from '../components/icons/Cypress.astro'
import MaterialUI from "../components/icons/MaterialUI.astro";
import AstroIcon from "../components/icons/AstroIcon.astro";
import PostgresIcon from "../components/icons/Postgres.astro";
import FirebaseIcon from "../components/icons/Firebase.astro";
import MongoIcon from "../components/icons/Mongo.astro";
import GitIcon from "../components/icons/Git.astro";
import PostmanIcon from "../components/icons/Postman.astro";
import DockerIcon from "../components/icons/Docker.astro";
import JiraIcon from "../components/icons/Jira.astro";
import LinuxIcon from "../components/icons/Linux.astro";

---

<article class="flex flex-col gap-4">
  <h3 class="text-lg font-semibold opacity-90 text-[#00a7e1]">Lenguajes</h3>
  <div class="flex flex-row gap-2 flex-wrap">
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <HtmlIcon class="size-4 lg:size-6"></HtmlIcon>
      HTML
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <CssIcon class="size-4 lg:size-6"></CssIcon>
      CSS
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <JavascriptIcon class="size-4 lg:size-6"></JavascriptIcon>
      JAVASCRIPT
    </TagBadge>
  </div>
  <div class="flex flex-row gap-2 flex-wrap">
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <ReactIcon class="size-4 lg:size-6"></ReactIcon>
      REACT.JS
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <NextIcon class="size-4 lg:size-6"></NextIcon>
      NEXT.JS
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <ExpressIcon class="size-4 lg:size-6"></ExpressIcon>
      EXPRESS
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <NodeIcon class="size-4 lg:size-6"></NodeIcon>
      NODE.JS
    </TagBadge>
  </div>
  <div class="flex flex-row gap-2 flex-wrap">
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <AngularIcon class="size-4 lg:size-6"></AngularIcon>
      ANGULAR
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <JavaIcon class="size-4 lg:size-6"></JavaIcon>
      JAVA
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <SpringBootIcon class="size-4 lg:size-6"></SpringBootIcon>
      SPRING BOOT
    </TagBadge>
  </div>
  <div class="flex flex-row gap-2 flex-wrap">
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <MaterialUI class="size-4 lg:size-6"></MaterialUI>
      MATERIAL UI
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <TailwindIcon class="size-4 lg:size-6"></TailwindIcon>
      TAILWIND
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <AstroIcon class="size-4 lg:size-6"></AstroIcon>
      ASTRO
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <PhpIcon class="size-4 lg:size-6"></PhpIcon>
      PHP
    </TagBadge>
  </div>
  <h3 class="text-lg font-semibold opacity-90 text-[#00a7e1] mt-4">Bases de datos</h3>
  <div class="flex flex-row gap-2 flex-wrap">
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <MySQLIcon class="size-4 lg:size-6"></MySQLIcon>
      MYSQL
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <PostgresIcon class="size-4 lg:size-6"></PostgresIcon>
      POSTGRESQL
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <FirebaseIcon class="size-4 lg:size-6"></FirebaseIcon>
      FIREBASE
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <MongoIcon class="size-4 lg:size-6"></MongoIcon>
      MONGODB
    </TagBadge>
  </div>
  <h3 class="text-lg font-semibold opacity-90 text-[#00a7e1] mt-4">Herramientas / Otros</h3>
  <div class="flex flex-row gap-2 flex-wrap">
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <GitIcon class="size-4 lg:size-6"></GitIcon>
      GIT
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <PostmanIcon class="size-4 lg:size-6"></PostmanIcon>
      POSTMAN
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <DockerIcon class="size-4 lg:size-6"></DockerIcon>
      DOCKER
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <JiraIcon class="size-4 lg:size-6"></JiraIcon>
      JIRA
    </TagBadge>
    <TagBadge class={"bg-slate-700 py-1 text-sm lg:text-lg"}>
      <LinuxIcon class="size-4 lg:size-6"></LinuxIcon>
      LINUX
    </TagBadge>
  </div>
</article>