---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '@fontsource-variable/onest';
import '@fontsource/anton';
import '@fontsource/righteous';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header id="top"></Header>
		<slot />
		<Footer></Footer>
	</body>
</html>
<style is:global>
	:root {
		--blue-principal: #00171f;
    --blue-secondary: #003459;
    --light-blue-principal: #00a7e1;
    --light-blue-secondary: #007ea7;
    --grey: #e2e2e2;
	}
	html {
		font-family: 'Onest Variable', sans-serif;
		scroll-behavior: smooth;
	}
	body{
		position: relative;
		background: #222222;
		color: white;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		/* BACKGROUND */
		background-color: var(--blue-principal);
		background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
		background-blend-mode: color-dodge;
	}
	.anton-font{
		font-family: 'Righteous', sans-serif;
	}

	@media (prefers-reduce-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}
</style>
